@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


header{

    background-color: rgb(252, 252, 252);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{

    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    text-size-adjust: 822;

}

.menu a{

    text-decoration: none;
    color: rgb(103, 114, 233);
    font-weight: 600;
    padding-left:20px;
    font-size:  1.2em;
}

.menu a:hover{
    color: #601cfc;
}
.foto {
    padding: 10px 50px;
}



.eerst{

    width: 100%;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    background-color: #e4c6c6;
    background: url(images/Wallpaper.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main h1{

    color: aliceblue;
    font-size: larger;
    font-weight: 500;
}

main h2{

    color:rgb(21, 112, 191);
    font-size: 1.4em;
    font-weight: 500;
}

.drukknop{

    color: aliceblue;
    background: #0638ce;
    text-decoration: none;
    font-size: 1,1em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1874em;
    letter-spacing:1px;
    border-radius:15px;
    margin-bottom: 40px;
    transition: 0.7 ease;

}
.drukknop:hover{
    background-color: #0a2d99;
    transform: scale(1.1);
}
.ik{
    padding: 100px 200px;
}
.kaarten{
    padding: 300px 200px;
    width: 21.25px;
    box-shadow: 0 5PX;
}

.kaarten h2{

    text-transform: uppercase;
    color: aqua;
    text-align: center !important;
    justify-content: center;
  
    
}

.work {
    text-align: center;
   
}
.work h2{
    color: rgb(9, 69, 153);
    padding-top: 10px;
}
.tekst{
    padding-bottom: 40px;
}

.contact{
    color: aliceblue;
    background: #0638ce;
    text-decoration: none;
    font-size: 1,1em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1874em;
    letter-spacing:1px;
    border-radius:15px;
    margin-bottom: 40px;
    transition: 0.7 ease;
    
    
}

footer{

    text-align: center;
    padding: 20px 20px;
}

.tweede{
    
    width: 100%;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    background-color: #e4c6c6;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


.project_section h2{
    clear: left;
    width: 100%;
    text-align: center;
    padding: 80px 80px;
    display: block;
}

.img_section{

padding-top: 300px;
}

#blog{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0,0,0.05);

}

